<% layout('/layouts/boilerplate') %>
    <div class="row mt-3">
        <div class="col-8 offset-2">         
            <h3>Edit this listing</h3>
            <br/>
            <b><p>ID : <%= listing._id %></p></b>
            <form action="/Listings/<%= listing._id%>?_method=PUT" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input  
                    name="Listing[title]" 
                    value = "<%= listing.title %>"
                    type="text"
                    class="form-control"  required />
                    <div class="valid-feedback">Title looks good</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea  
                        name="Listing[description]"
                        class="form-control"
                        required><%= listing.description%>
                   </textarea>
                   <div class="invalid-feedback">Please enter valid description</div>
                </div>
                Original Image
                 <div class=" mb-3">
                   <img src="<%= originalImageUrl %>"  class="show-img"/>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Upload new Image</label>
                    <input 
                    name="Listing[image]" 
                    type="file"
                    class="form-control"
                    />
          
                </div>
                <div class=" mb-3">
                    <label for="category" class="form-label">Category</label>
                      <select id= "category" class="form-control form-select" aria-label="Default select example"  name="Listing[category]"   required>
                        <option selected><%= listing.category %></option>
                        <option >Mountains</option>
                        <option >Amazing pools</option>
                        <option >Amazing views</option>
                        <option >Farms</option>
                        <option >Treehouse</option>
                        <option >Beachfront</option>
                        <option >Historic</option>
                        <option >Arctic</option>
                      </select>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input
                        name="Listing[price]"
                        value="<%= listing.price %>" 
                        class="form-control"
                        required/>
                        <div class="invalid-feedback">Price should be valid</div>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input
                        name="Listing[country]"
                        value="<%= listing.country%>"
                        type="text"
                        class="form-control"
                        required />
                        <div class="invalid-feedback">Please enter valid country</div>
                    </div>
                </div>
            
                <div>
                    <label for="location" class="form-label">Location</label>
                    <input
                    name="Listing[location]"
                    value= "<%= listing.location%>"
                    type="text" 
                    class="form-control"
                    required/>
                    <div class="invalid-feedback">Please enter right location</div>
               </div>
            
                <button class="btn btn-dark edit-btn mt-3">Submit</button>
               
            </form>
        </div>
    </div>

