<% layout('/layouts/boilerplate') %>
<script>
    let mapToken = "<%=  process.env.MAP_TOKEN  %>";
    let listing = <%- JSON.stringify(listing)%>;

</script>
<div class="row">
   <div class="col-8 offset-3">
        <h3><%= listing.title %></h3>
   </div>
        <div class="card col-7 offset-3 show-card listing-card">
            <img 
            src="<%= listing.image.url %>"
            class="card-img-top show-img"
            alt="Listing-image"
            />
            <!-- showing owner name - fetching using(req.owner.username) -->
            <div class="card-body "> 
                <p class="card-text">
                    <i>Owned by<b> <%= listing.owner.username %></b></i>
                </p>
                <p class="card-text">
                    <%= listing.description %><br/>
                </p>

                <p class="card-text">
                    <%= listing.category %><br/>
                </p>

                <p class="card-text">
                    &#8377; <%=listing.price.toLocaleString("en-In")  %><br/>
                 </p>
               
                <p class="card-text">
                    <%= listing.country%><br/>
                </p>
                <p class="card-text">
                    <%= listing.location %>
                 </p>
                 
            </div>
        </div>
<% if(currUser &&  currUser._id.equals(listing.owner._id) ) { %>
<div class="btns">
    <a 
        href="/Listings/<%= listing._id%>/edit"
        class="btn btn-dark offset-3">
        Edit
    </a>
    <form
    action="/Listings/<%= listing._id%>?_method=DELETE" 
    method="POST">
        <button
         class="btn del-btn  offset-5">
            Delete
        </button>
    </form>
</div>
<% } %>

<div class="col-8 offset-3">
    <% if(currUser) { %>
        <hr />
    <h4 class="mt-3">Leave  a  review</h4>
   
    <form method="POST" action="/Listings/<%= listing._id %>/reviews" novalidate class="needs-validation">
        <div class="rating  mb-3 ">
            <h6>Rating</h6>
        <div class="star">
            <fieldset class="starability-growRotate">
                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>
        </div>
        </div>
           <label for="comment" class="form-label" >Comment</label>
           <textarea
                id="comment"
                cols="30"
                row="5"
                class="form-control"
                name="review[comment]"
                required></textarea>
                <div class="invalid-feedback">Please enter some comments</div>
        <div class="comment  mt-3 mb-4">
           <button class="btn btn-outline-dark">Submit</button> 
        </div>
    </form>
    <% } %>

    <% if(listing.reviews.length >0) { %>
        <p><b>All reviews</b></p>

           <div class="row">
                <% for(review of listing.reviews) { %>
                <div class="card col-5 ms-3 mb-3">
                    <div class="card-body"> 
                        <h5 class="card-title">@ <%= review.author.username %></h5>
                        <p class="starability-result " data-rating=<%= review.rating %>></p>
                        <p class="card-text"> <%= review.comment %> </p>
                       
                    <% if(currUser && currUser._id.equals(review.author._id)) {%>
                        <form method="POST"
                        action="/Listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
                        class="mb-3">
                        <button class="btn btn-sm btn-outline-danger">DELETE</button>
                        </form>
                    <% } %>
                    </div>
                </div>
                <% } %>
                
           </div> 
       <% } %>
</div> 
<hr />

   <div class="col-8 offset-3">
      <h3>What this place offers</h3>
        <div class="kitchen" style="display: flex;" >
            <i class="fa-solid fa-kitchen-set" style="margin-top: 0.3rem;"></i>
            <p style="margin-left:12px; font-size:large;">Kitchen</p>
        </div>
        <div class="Wifi" style="display: flex;" >
            <i class="fa-solid fa-wifi" style="margin-top: 0.3rem;"></i>
            <p style="margin-left:12px; font-size:large;">Wifi</p>
        </div>  
        <div class="workspace" style="display: flex;" >
            <i class="fa-solid fa-book" style="margin-top: 0.3rem;"></i>
            <p style="margin-left:12px; font-size:large;">Dedicated workspace</p>
        </div>  
        <div class="parking" style="display: flex;" >
            <i class="fa-solid fa-square-parking" style="margin-top: 0.3rem;"></i>
            <p style="margin-left:12px; font-size:large;">Free on-street parking</p>
        </div>  <div class="washer" style="display: flex;" >
            <i class="fa-solid fa-jug-detergent" style="margin-top: 0.3rem;"></i>
            <p style="margin-left:12px; font-size:large;">Free washer - In unit</p>
        </div>
    </div>
       <hr/> 
    <div class="col-8 offset-3">
      <h3>Where you'll be</h3>
      <div id='map'></div>
    </div> 

</div>

<script src="/js/map.js"></script>


